<ion-view view-title="Dashboard">
  <ion-content >
    <h1>Dashboard</h1>
    <div class="row">
	  <div class="col"><img src="img/draw/MyProfile.jpg" width="65" height="65"></div>
	  <div class="col"><a href="#/app/kpi-review"><img src="img/draw/KPI.jpg" width="65" height="65" ng-click="onClickKPI()"></a>
	  </div>
	  <div class="col"><img src="img/draw/Dashboard.jpg" width="65" height="65"></div>

	</div>
	<div class="row">
	  <div class="col"><img src="img/draw/Order.jpg" width="65" height="65"></div>
	  <div class="col"><p text-align="center" style="bold">MY KPI</p></div>
	  <div class="col"><img src="img/draw/Interview.jpg" width="65" height="65"></div>
	</div>
	<div class="row">
	  <div class="col"><img src="img/draw/Placement.jpg" width="65" height="65"></div>
	  <div class="col"><img src="img/draw/Ranking.jpg" width="65" height="65"></div>
	  <div class="col"><img src="img/draw/Logout.jpg" width="65" height="65"></div>
	</div>
  </ion-content>
</ion-view>
