<ion-view view-title="Kpi-planning">
  <ion-content>
    <h1>KPI Planning</h1>

    <div class="row responsive-sm">
	  <div class="col col-100">Please set your KPI value</div>
	</div>

	<div class="row responsive-sm">
	  <div class="col col-100">Start date 2015/04/01</div>
	</div>

	<div class="row responsive-sm">
	  <div class="col col-100">End date 2015/04/30</div>
	</div>

	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="No. of Order">
	    Orders
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="No. of Sale Amount"></input>
	     <select>
	      <option>EUR</option>
	      <option selected>USD</option>
	      <option>SGD</option>
      	</select>
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="No. of Interview">
	    Interviews
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="No. of Sent CVs">
	    CVs
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="No. of Placements">
	    Placements
	  </label>
	</div>

	 <label class="item">
          <button class="button button-block button-calm" type="submit">Submit</button>
     </label>

  </ion-content>
</ion-view>