<ion-view view-title="Kpi-review">
  <ion-content>
  		<div class="row">
  		<div class="col col-90">
	      <select>
		      <option>Group Y</option>
		      <option selected>Group A</option>
		      <option>Group Z</option>
	      </select>
	     </div>
	     <div class="col">
	      <select>
		      <option>Approved</option>
		      <option selected>All</option>
		      <option>Rejected</option>
		      <option>No Input</option>
	      </select>
	      </div>
		</div>
   		<div class="list">
		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mr.jpg" width="35" height="35">		

		    <button class="btn btn-default btn-abstract" ng-click="isCollapsed1 = !isCollapsed1"> Manabu Sato </button>
				<div collapse="!isCollapsed1">
					<div class="well well-lg">&nbsp;</div>
					<img src="img/draw/chart.png">
						<textarea placeholder="Comments"></textarea>
					</label>
					<div class="row">
						<div class="col col-90">
			      			<button class="button button-calm">
		  						Approve
							</button>
		     			</div>
		     			<div class="col">
			      			<button class="button button-assertive">
		  						Reject
							</button>
		      			</div>
		      		</div>
				</div>

			    <button class="button button-balanced">
	      			APROVED
	    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mr.jpg" width="35" height="35">

		   	<button class="btn btn-default btn-abstract" ng-click="isCollapsed2 = !isCollapsed2"> Satoshi Shiraishi </button>
				<div collapse="!isCollapsed2">
					<div class="well well-lg">&nbsp;</div>
					<<img src="img/draw/chart.png">
					<label class="item item-input">
						<textarea placeholder="Comments"></textarea>
					</label>
					<div class="row">
						<div class="col col-90">
			      			<button class="button button-calm">
		  						Approve
							</button>
		     			</div>
		     			<div class="col">
			      			<button class="button button-assertive">
		  						Reject
							</button>
		      			</div>
		      		</div>
				</div>
		    
		    <button class="button button-balanced">
      			APROVED
    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mr.jpg" width="35" height="35">
		    
		     <button class="btn btn-default btn-abstract" ng-click="isCollapsed3 = !isCollapsed3"> Masaya Miyamoto </button>
				<div collapse="!isCollapsed3">
					<div class="well well-lg">&nbsp;</div>
					<img src="img/draw/chart.png">
					<label class="item item-input">
						<textarea placeholder="Comments"></textarea>
					</label>
					<div class="row">
						<div class="col col-90">
			      			<button class="button button-calm">
		  						Approve
							</button>
		     			</div>
		     			<div class="col">
			      			<button class="button button-assertive">
		  						Reject
							</button>
		      			</div>
		      		</div>
				</div>
		    
		    <button class="button button-balanced">
      			APROVED
    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mrs.jpg" width="35" height="35">
		    
		      <button class="btn btn-default btn-abstract" ng-click="isCollapsed4 = !isCollapsed4"> Noriaki Tatamiya </button>
				<div collapse="!isCollapsed4">
					<div class="well well-lg">&nbsp;</div>
					<img src="img/draw/chart.png"> 
					<label class="item item-input">
						<textarea placeholder="Comments"></textarea>
					</label>
					<div class="row">
						<div class="col col-90">
			      			<button class="button button-calm">
		  						Approve
							</button>
		     			</div>
		     			<div class="col">
			      			<button class="button button-assertive">
		  						Reject
							</button>
		      			</div>
		      		</div>
				</div>				
		    
		    <button class="button button-royal">
      			NO INPUT
    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mr.jpg" width="35" height="35">
		    Akiko Motohashi
		    <button class="button button-assertive">
      			REJECTED
    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mrs.jpg" width="35" height="35">
		    Shushi Shinichi
		    <button class="button button-royal">
      			NO INPUT
    		</button>
		  </a>

		  <a href="#" class="item item-button-right">
		    <img src="img/tar/mr.jpg" width="35" height="35">
		    Hiromichi Yoshinori
		    <button class="button button-balanced">
      			APROVED
    		</button>
		  </a>
	</div>
  </ion-content>
</ion-view>
